// ==========================================================================
// Commons
// ==========================================================================
//
// Table of Contents:
//
//  1. Placeholders


//== 1. Placeholders
// ==========================================================================
%holder-vertical-middle {
  margin: 0;
  height: 100%;
  display:inline-block;
  vertical-align: middle;
  &:before,
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
  }
}

%holder-semantic-logo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  .text {
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
  }
  img { max-width: 100%; }
}