// ==========================================================================
// Header
// ==========================================================================
//
// Table of Contents:
//
//  1. Settings Variables - (Component Settings Default)
//  2. Settings base - (Important settings and overwite default settings )
//  3. Content

//== 1. Settings Variables
$header-width:        100% !default;
$header-height:       71px !default;
$header-bg-color:   #FFF !default;
$header-brand-width:  110px !default;
$header-brand-height: 100% !default;
$header-logo-height:  45px !default;

//== 2. Settings base
@import 'base';

//== 3. Content
.header {
  z-index: 0;
  width: $header-width;
  height: $header-height;
  background: $header-bg-color;
}

.brand {
  float: left;
  margin: 0;
  @extend %holder-vertical-middle;
}

.logo {
  height: $header-logo-height;
  @extend %holder-semantic-logo;
}

.settings {
  float: right;
  padding: 10px;
  text-align: center;
}

@media (max-width: 800px) {

  .brand,
  .settings {
    flex: 0 0 64px;
  }

}
